# last modified: 01 Jan 2016
# action.npm.pkg: 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
; Set a new registry for a scoped package
@NAMESPACE:registry=https://npm.pkg.github.com

; good config
; https://docs.npmjs.com/cli/v10/configuring-npm/npmrc
; would apply only to @myorg
//npm.pkg.github.com:_authToken=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
